body
{
    background-image: url(img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head
{
    width: 370px;
    height:480px;
    margin-top: 115px;
    margin-left: 570px;
    border-radius: 15px;
    background-color:dimgray;
    box-shadow: 2px 2px 10px 10px rgb(183, 178, 178);
}
#screen
{
    width: 320px;
    height: 55px;
    margin-top: 35px;
    margin-left: 25px;
    background-color:whitesmoke;
    font-size: xx-large;
    border-radius: 20px;
    position: absolute;
    box-shadow: 1px 1px 1px 1px black;
}
.btt
{
  height: 100px;
  width: 400px;
  margin-left: 19px;
  margin-top: 130px;
  position: absolute;
}
button
{
    height: 42px;
    width: 60px;
    margin: 10px;
    font-size: 23px;
    border-radius: 10px;
}
#display
{
    width: 250px;
    height: 35px;
    background-color:aquamarine;
    border-radius: 10px;
    margin-left: 13px;
    box-shadow: 1px 1px 2px 2px lightgray;
}
#eq
{
    background-color: aqua;
}
#clr
{
    background-color: aqua;
}